<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<body>

	<div th:insert="~{navbar :: navbarUtente}"></div>


	<div>
		<h2 style="text-align:center;">Album</h2>
		
		
			
		</div>
		<ul>
			<li th:each="album : ${albums}"> 
				<h4><a th:href="@{/fotoAlbum/} + ${album.titoloAlbum}"><span th:text="${album.titoloAlbum}"></span></a></h4>
			</li>
		</ul>
	
</body>
</html>