<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<body>

	<div th:insert="~{navbar :: navbarAdmin}"></div>

	<div>
		<h2 style="text-align:center;">Foto</h2>
		<div class="wrapper">
		<div th:each="foto: ${fotos}">
			<div class="thumbnail" style="margin-top: 20px; text-align:center;">
				  <img class="card-img-top" th:src="${foto.uri}" alt="Card image cap">
				  <div class="caption" style="text-align:center;">
				  		<form th:action="@{/richiestaFoto}" method="GET">
						    <h5 class="card-title" th:text="${foto.titoloFoto}"></h5>
						    <p>Fotografo: <span th:text="${foto.fotografo}"></span></p>
						    <p>Album: <span th:text="${foto.titoloAlbum}"></p>
						    <input th:value="${foto.titoloFoto}" name="titoloFoto" hidden>
					    </form>
				  </div>
			</div>
		</div>
	</div>
	
	<!-- 
	<div>
		<h2 style="text-align:center;">Foto</h2>
		<ul>
			<li th:each="foto : ${fotos}"> 
				<a
				th:href="@{'foto' + '/' + ${foto.titoloFoto}}"
				th:text="${foto.titoloFoto}"> </a>
			</li>
		</ul>
	</div>
	 -->
	
	<style>
		.wrapper {
		  display: grid;
		  grid-template-columns: 1fr 1fr 1fr 1fr;
		  grid-gap: 50px;
		  margin: 30px;
		}
	</style>
</body>
</html>