<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="ISO-8859-1">
<title>Pagina iniziale</title>
<meta charset="utf-8" />
		
</head>
<body style="background:url(https://images6.alphacoders.com/984/984398.jpg);
background-repeat:no-repeat;background-size:100% 100%; height:1080px" >
<div>

	<div th:insert="~{navbar :: navbarUtente}"></div>
	
	<br/>
	<div style="text-align:center;">
		<h1>Benvenuto in SILPH SPA</h1>
		<br/>
		<h3>Clicca <a th:href="@{/foto}"> qui</a> per visualizzare le nostre foto </h3>
	</div>
	<br/>
</div>
</body>
</html>