<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="ISO-8859-1">
<title>Pagina iniziale</title>
<meta charset="utf-8" />
		
</head>
<body>

	<div th:insert="~{navbar :: navbarAdmin}"></div>

	<br/>

	<h1 style="text-align:center;">Richieste</h1>
	
	<br/><br/>

	<table class="table table-bordered">
		<thead>
			  <tr>
				    <th scope="col" style="text-align:center;">Nominativo</th>
				    <th scope="col" style="text-align:center;">Email</th>
				    <th scope="col" style="text-align:center;">Foto</th>
				    <th scope="col" style="text-align:center;">Messaggio</th>
			  </tr>
		</thead>
		<tbody>
		<th:block>
			<tr th:each="richiesta : ${richieste}">
			    <td th:text="${richiesta.nominativo}"></td>
			    <td th:text="${richiesta.email}"></td>
			    <td th:text="${richiesta.titoloFoto}"></td>
			    <td th:text="${richiesta.messaggio}"></td>
		  	</tr>
		  	</th:block>
		</tbody>
	</table>

</body>
</html>